<%= form_with(model: group, :html => {:class => "registration"}) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id='first-input'>
    <%= form.text_field :name, placeholder: "Name" %>
  </div>

  <div id="dropdown">
    <%= form.select :icon, Group::ICONS.invert, { include_blank: true }, { required: true } %>
  </div>

  <div>
    <%= form.submit "Add", class: 'submit' %>
  </div>
<% end %>