<div class="container">
    <div class="header blue">
      <div class="transaction-title">  
        <a href="<%= categories_path %>">
          <%= image_tag("arrow.png", class: "back") %>
        </a>
        <h1 class="main-title login-title">TRANSACTIONS</h1>
        <%= image_tag("search.png", class: "back") %>
      </div>  
      <div class="recent-ancient">
        <p class="before"></p>
        <div class="recent">
          <p>Most recent</p>
          <div class="dot"></div>
        </div>
        <p class="ancient">Most ancient</p>
      </div>
    </div>

<div class="group-sum">
  <h1><%= @category.name %></h1>
  <p class="total-sum">$<%= @total_amount %></p>
</div>
<hr class="big-separator">
    <% @transactions.each do |transaction| %>
      <div class="categories">
        <%= image_tag @category.icon.url if @category.icon.present? %>
        <div class="transaction-name-date">
          <p><%= transaction.name %></p>
          <p class="date"><%= transaction.created_at.strftime("%d %b %y") %></p>
        </div>
          <p class="amount">$<%= transaction.amount %></p>
      </div>
      <hr class="separator">
    <% end %>

<a href="<%= new_category_transaction_path(category_id: @category.id) %>" class="bottom-button green">
  <p>NEW TRANSACTION</p>
</a>

</div>