<%= form_with(model: expense, url: group_expenses_path, :html => {:class => "registration"}) do |form| %>
  <% if expense.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
        <% expense.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id='first-input-exp'>
    <%= form.text_field :name, placeholder: 'Name'%>
  </div>

  <div id='second-input-exp'>
    <%= form.text_field :amount, placeholder: 'Amount' %>
  </div>

  <div class="checkbox-container">
    <% current_user.groups.each do |group| %>
      <div class='eachbox'>
      <%= check_box_tag "expense[group_ids][]", group.id, @expense.group_ids.include?(group.id) %>
      <%= form.label group.name %></br>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit "Save", class: 'submit' %>
  </div>
<% end %>